
@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

@font-face {
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
}


@font-face {
    font-family: Josefin;
    src: url('../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
}


@font-face {
    font-family: Lexend-deca;
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
}

@font-face {
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf');
}

@font-face {
    font-family: Inknut;
    src: url('../fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf');
}
 @font-face {
     font-family: Bebas;
     src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
 }
 @font-face {
     font-family: Cardo;
     src: url('../fonts/Cardo/Cardo-Regular.ttf');
     src: url('../fonts/Cardo/Cardo-Italic.ttf');
     src: url('../fonts/Cardo/Cardo-Bold.ttf');
 }

 @font-face {
     font-family: IBM;
     src: url('../fonts/IBM_Plex_Sans_Thai_Looped/IBMPlexSansThaiLooped-Regular.ttf');
 }
 @font-face {
     font-family: Kalam;
     src: url('../fonts/Kalam/Kalam-Regular.ttf');
 }
 @font-face {
     font-family: Lato;
     src: url('../fonts/Lato/Lato-Regular.ttf');
 }
 @font-face {
     font-family: Noto-serif;
     src: url('../fonts/Noto_Serif_Display/NotoSerifDisplay-Italic-VariableFont_wdth\,wght.ttf');
 }
 @font-face {
     font-family: Prata;
     src: url('../fonts/Prata/Prata-Regular.ttf');
 }
 @font-face {
     font-family: Saira;
     src: url('../fonts/Saira_Condensed/SairaCondensed-Regular.ttf');
 }
 @font-face {
     font-family: Smooch;
     src: url('../fonts/Smooch_Sans/SmoochSans-VariableFont_wght.ttf');
 }
 @font-face {
     font-family: Yano;
     src: url('../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Light.ttf');
 }



