@import url('../css/fonts.css');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden!important;
    font-family: Abel;
    font-weight: 500;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box!important;
    
}

 a{
     text-decoration: none!important;
 }
 *ul{
     list-style-type: none;
 }
 
/*header*/
header{
    height: 110vh;
    width: 100%;
    background:url('../img/banner-img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0!important;
}


nav.navbar{
    background-color: rgba(0,0,0,0.5)!important;
}

.nav-item .nav-link{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: Kalam;
    margin: 0 1rem;
    color: white!important;
    opacity: .7;
}
.nav-item .nav-link:hover{
  opacity: 1;
}

nav .social-icons .social-icon{
    color: lightblue;
    font-size: 1.1rem;
    margin: 0 .3rem;
}

nav .social-icons .social-icon:hover{
    color: white;
    cursor: pointer;
}


/*showcase section */

header .showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101vh;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.showcase-text h1{
    font-size: 5rem;
    color: #f8f7f7;
    font-family: Noto-serif;
    opacity: 1;
}

.showcase-text span{
    color: rgb(84, 235, 84);
    font-size: 1.7rem;
    font-family: Abel;
}

.showcase-content .showcase-btn{
    margin: 2rem 0;
}
.showcase-content a{
    background: rgba(0,0,0,0.8);
    outline: none;
    border: 1px solid white;
    padding: .3rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 5rem;
    color: white;
    font-family: Abel!important;
    
    transition: all 1s ease;
}

.showcase-content a:hover{
    background: linear-gradient(120deg, #ff512f 0%, orange 100%);
}

/* Navigation */
.navigation{
    width: 100%!important;
    margin: 0!important;
}
.navigation .navbar{
    background: white!important;
    margin: 2rem 0;
    padding: 1rem 0;
    z-index: 9999;
    width: 100%;
}
.navigation .nav-link{
    color: rgb(80, 70, 70)!important;
    font-size: 1rem;
    margin: 0 0.5rem;
    text-transform: capitalize;
}

.navigation .nav-link:hover{
    color: orangered!important;
    border-bottom: 1px solid orangered;
}

.sticky-top{
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0 3px 4px 8px rgba(0,0,0,0.1);
    width: 100%;
}


/*carousel section*/
.carousel-blog{
    background: url('../img/svg\ img.jpg');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-content{
    margin: .7rem;
    box-shadow: 0 2px 5px 4px rgba(0,0,0,0.1);
    border-radius: .5rem!important;
}

.post-img{
    overflow: hidden;
}
.carousel-content img{
    width: 100%;
    height: 13rem;
    transition: all 1s ease-in-out;
    border-radius: .5rem .5rem 0 0;
}

.carousel-content img:hover{
    transform: scale(1.4);
}

.carousel-content .carousel-title{
    padding: 1.3rem;
}

.carousel-title h3{
    font-family: Yano;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.carousel-title p{
    font-family: sans-serif;
    font-size: .8rem;
    opacity: .6;
}

.carousel-title span.post-date{
    display: block;
    text-align: center!important;
    font-size: 1rem;
    color: #9c9d97;
    margin: 1rem;
}

.carousel-title .read-more{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
.carousel-title a.read-more-btn{
    background-color: orangered;
    padding: .3rem .5rem;
    color: white;
    border-radius: .5rem;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 0.8s ease-in-out;
}

.carousel-title a.read-more-btn:hover{
    background-color: gray;
}
.prev-next{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.carousel-blog .prev-item,
.carousel-blog .next-item{
   margin: 0;
   cursor: pointer;
   font-size: 1.5rem;
   z-index: 999;
   color: rgb(189, 189, 189);
   position: inherit;
}

.carousel-blog .prev-item:hover,
.carousel-blog .next-item:hover{
    color: black;
}

button.owl-prev,
button.owl-next{
    outline: none;
}

button.owl-prev:hover,
button.owl-next:hover{
    background-color: white!important;
    color: black;
}
 *.container{
     overflow-x: hidden;
 }
/*site content*/
.blog{
    margin: 2rem 0;
}
.blog .container{
    display: grid;
    grid-template-columns: 75% 25%;
    overflow-x: hidden;
}

.blog-post .head{
    font-weight: 700;
}

.blog-post .post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden!important;
    
}


.blog-post .post .post-content{
    transition: all 1s ease;
    transform: scale(0.9);
    
}

.blog-post .post-content:hover{
    box-shadow: 0 2px 20px 3px rgba(0,0,0,0.1);
    transform: scale(.93);
    
}


.post-content .post-img{
    overflow: hidden;
}
.post-content .post-img img{
    width: 100%;
    height: 15rem;
    transition: all 1s ease-in-out;
}
.post-content .post-img img:hover{
  transform: scale(1.3);
}

.post-content .post-title h3{
    font-family: Abel;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.3rem!important;
    text-align: center;
    margin: 1.5rem 1rem;
}

.post-content .post-info{
    text-align: center;
    font-family: Abel;
    opacity: .3;
    font-size: .9rem;
}

.post-content .text{
    text-align: justify;
    padding: 1rem 1rem 0 1rem;
    opacity: 0.7;
}

.post-content .link-div{
  padding: 0 1rem;
  text-align:center;
  margin-bottom: 1rem!important;
  display: block;
}

.link-div .read-more-btn{
    text-decoration: none;
    background-color: #e7e7e7;
    padding: .2rem .5rem;
    border-radius: .3rem;
    color: black;
    text-transform: capitalize;
}

.blog-post .paginate{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    margin: 4rem 0;
    width: 100%;
}
 .blog-post .paginate .fa-chevron-right,
 .blog-post .paginate .fa-chevron-left
 {
    margin: 16px;
    color: #1e1f1d;
    cursor: pointer;


 }
.blog-post .paginate .pages{
    color: black;
    text-decoration: none;
    margin: .5rem;
    padding: .5rem;
    font-size: 1rem;
    font-family: cursive;
    border-radius: 10rem;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
}


/* Sidebar */
.sidebar{
 display: flex;  
 flex-direction: column;
 overflow-x: hidden!important;
}

.sidebar .search input[type='text']
{
    min-width: 100%;
    padding: .3rem 0;
    outline: none;
    border-radius: .5rem;
    border: .5px solid green;
    
}

.sidebar .search .icon{
    background-color: green;
    color: white;
    cursor: pointer;
    padding: .3rem 0;
    border-radius: .5rem;
}
.sidebar .category{
    color: white;
   
}

.sidebar .category h3{
    font-family: Bebas;
    font-weight: 500;
    letter-spacing: .2rem;
    color: black;
}

.sidebar .category-item{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1rem;
    transition: all 1s ease;
    border: 1px solid white;
    padding: .3rem 0.5rem;
    margin: .5rem 0;
    border-radius: .8rem;
    background: linear-gradient(190deg, skyblue 0%, rgb(50, 50, 138) 100%);
}

.sidebar .row{
    margin: 0!important;
    padding: 0!important;
}

.sidebar .category-item:hover a,
.sidebar .category-item:hover span{
    opacity: .7;
}
.sidebar .category-item a{
    text-decoration: none;
    color: white;
}


.sidebar .latest-post{
    padding: 2rem 0.5rem;
    color: white;
}

.sidebar .latest-post h3{
    text-transform: uppercase;
    font-family: Bebas;
    font-weight: 600;
    letter-spacing: .2rem;
    color: black;
}

.latest-post .row{
   margin-top: 1.5rem;


    
}

.sidebar .latest-post .img{
    overflow: hidden;
}


.sidebar .latest-post img{
    width: 100%;
    transition: all 1s ease;
}
.sidebar .latest-post img:hover{
    transform: scale(1.3);
}

.post-text a{
    font-size: 1rem;
    font-family: Abel;
    color: #34dade;
}

.popular-post{
    padding: 3rem 0;
}
.popular-post .post-content{
    padding: 1rem;
}

.popular-post h3{
    text-transform: capitalize;
    font-family: Bebas;
    color: black;
}

.popular-post .post-img{
    position: relative;
}

.popular-post img{
    width: 100%;
    height: 10rem!important;
}

.popular-post .post-info{
    position: absolute;
    background-color: white;
    left: 0;
    bottom: -7px!important;
    opacity: .99;
    padding: .2rem .3rem;
    font-size: .8rem;
}

.popular-post .post-title{
    padding: .5rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.popular-post .post-title a{
    color: orangered;
}


.sidebar .newsletter{
    background-color: #36454f;
    padding: 1rem;
}

.sidebar .newsletter p{
    color: white;
    font-family: cursive;
    letter-spacing: .1rem;
    opacity: .8;
}

.newsletter .input-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter .input-element input[type='email']{
    width: 100%;
    outline: none;
    padding: .3rem 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(167, 162, 162);
    color: white;
}

.newsletter .input-element input[type='email']::placeholder{
    color: white;
    opacity: .7;
    padding: 0 .2rem;
}

.newsletter .sub-btn{
    margin: .5rem;
    padding: .2rem 1rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: all 1s ease;
}

.newsletter .sub-btn:hover{
    background: #000;
    color: white;
    border: 1px solid;
}




.quick-links h3{
    text-transform: capitalize;
    font-family: Bebas;
}

.quick-links ul{
    list-style-type: none;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quick-links ul li{
    margin: .5rem 0;
}
 footer .q-link{
     text-transform: capitalize;
     color: white;
     opacity: 0.8!important;
 }






footer.footer{
    background-color: #101010;
    color: #bdbdbd;
    padding: 3rem 0 0 0;
    position: relative;
}

footer .container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: capitalize;

}

footer .q-links{
    padding: 0 1rem;
}

footer .f-head{
    color:white;
    font-family: Bebas;
    letter-spacing: .2rem;
}

footer .q-links > ul{
    list-style-type: none;
}
footer .q-link{
    display: inline-block;
    text-decoration: none;
    color: #bdbdbd;
}

footer .q-link:hover{
    color: white;
}


footer .insta-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
    margin-top: .4rem;
}

footer .insta-img img{
    width: 100%;
    min-height: 100%;
}

footer .newsletter{
    padding-left: 1.5rem;
}

footer .newsletter p{
    color: white;
    opacity: .8;
    
}

footer .newsletter .input-element{
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.footer .newsletter .sub-btn:hover{
  background-color: #ff512f;
  color: white;
  border: none;
  border-radius: 0;
}


footer .follow-us{
    padding: 0 1.5rem;
}

footer .social{
  margin: 1rem 0 0 0 ;
}

footer .social a{
    margin: 0 .1rem;
    font-size: 1rem;
    color: #979dac;
}


footer .social a:hover{
    color: #e7e7e7;
   
}

footer .phone-contact a{
    color: #979dac;
}

footer .mail-contact a{
    color: #979dac;
}

footer .copy{
    background-color: #000;
}

footer .copyright span{
    color: rgb(12, 145, 12);
}


/* Responsive styling */

/* Mobile screens */
@media only screen and (max-width: 425px) {
    .blog .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-post .post{
        grid-template-columns: repeat(1, 1fr);
    }
    .showcase-text h1{
        font-size: 3rem;
    }
    .showcase-text span{
        font-size: 1rem;
    }
    .showcase-content .showcase-btn{
        font-size: 1rem;
    }
    
    .category-items .category-item{
        width: 80%!important;
        
    }



    footer .container-footer{
        grid-template-columns: repeat(1, 1fr)!important;
        gap: 2rem;
        width: 100%!important;
    }
    
}



/* Tablets */
@media only screen and (min-width: 500px) and (max-width: 991px){
   .popular-post .post-img img.popular-img{
        height: 20rem!important;
    }
}
@media only screen and (max-width: 991px){
    .blog .container{
        grid-template-columns: repeat(1, 1fr);
    } 
    .category-items{
        display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-around;
    }
    .category-items .category-item{
        width: 45%;
        display: flex;
        
    }
    footer .container-footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .site-content{
        grid-template-columns: repeat(1, 1fr);
    }

}